@model TropicalServerApp.Models.Customer


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AfterLogin</title>
</head>
<body>
    <div>
        Log-in Success. (Login Success)
        Welcome <br /><br />
        @*ID : @Model.LoginId <br />
        Password : @Model.Password*@

    </div>
</body>
</html>
