
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCutomer</title>
</head>
<body>
    <div> 
        <form action="Submit" mothod="post">
            Customer Name <input id ="Text1" name="CustomerName" type="text" /> <br />
            Customer Code <input id ="Text2" name="CustomerCode" type="text" /> <br />
            <input id="Submit1" type="submit" value="submit" />
        </form>
    </div>
</body>
</html>
